/***************************************** Tag Selectors *****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}

body {
  margin: 0;
  background-color: #DCD6F7;
}
/***************************************** Class Selectors *****************************************/

.grid-body {
  display: grid;
  grid-template-areas: 
    "navbar    navbar    navbar"
    "intro     intro     intro"
    "left      content   right"
    "footer    footer    footer";
  
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto 1fr auto;

  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-navigator {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: #393E46;
  padding: 16px 32px;
  border-bottom: 3px solid #222831;

  grid-area: navbar;
}

.nav-title {
  color: #EEEEEE;
  font-size: 28px;
  font-weight: 1900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: white;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
  transform: translateX(10px);
  background-color: #00ccff;
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: #00ccff;
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: white;
  margin: 0 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
  background-color: #00ADB5;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}

.div-intro {
  background-color: #F9F7F7;
  background-image: url("/images/githubimage4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  max-width: 100%;
  position: relative;
  border-bottom: 3px solid #222831;

  grid-area: intro;
}

.div-intro h1 {
  color: #FFFFFF;
  padding-left: 350px;
  padding-top: 100px;
  size: 54px;
  line-height: 54px;
  font-size: 54px;
  font-family: 'Segoe UI', 'Helvetica Neue', "Lucida Grande", Arial, sans-serif;
}

.div-intro p {
  color: #FFFFFF;
  padding-left: 350px;
  size: 28px;
  line-height: 2;
  font-size: 28px;
  font-family: 'Segoe UI', 'Helvetica Neue', "Lucida Grande", Arial, sans-serif;
}

.div-post-area {
  background-color: #c5c5e4;
  border-left: 3px solid #222831;
  border-right: 3px solid #222831;

  grid-area: content;
}

.grid-post {
  display: grid;
  grid-gap: 32px;
  padding: 32px;
}

@media (min-width: 960px) {
  .grid-post {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-post {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-post .col {
  background-color: #DCD6F7;
  padding: 16px;
  border-radius: 20px;
}

.grid-post img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.left-side {
  grid-area: left;

  background-color: #DCD6F7;
}

.right-side {
  grid-area: right;

  background-color: #DCD6F7;
}

.div-footer {
  background-color: #393E46;
  height: 100px;
  position: relative;
  bottom: 0;
  position: relative;

  justify-content: center;
  align-items: center;
  display: flex;
  
  border-bottom: 3px solid #222831;
  border-top: 3px solid #222831;

  grid-area: footer;
}

.div-footer a {
  color: white;
  margin: 0 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
  line-height: 30px;
}

.div-footer a.is-active, .div-footer a:hover {
  background-color: #00ADB5;
}

.div-footer img {
  position: relative;
  top: 6px;
}
/***************************************** ID Selectors  *****************************************/