/***************************************** Tag Selectors *****************************************/
body {
  margin: 0;
}

h1 {
  border: 0;
  margin-top: 0;
}

p {
  margin: 0;
}
/***************************************** Class Selectors *****************************************/
.footer-icon {
  position: relative;
  top: 5px;
}

.div-navigator-container {
  background-color: #FFFFFF;
  height: 100px;
  top: 0;
}

.div-intro {
  background-color: #F9F7F7;
  background-image: url("/wdragj.github.io/images/githubimage4.jpg");
  background-repeat: no-repeat;
  background-size: 1903px 500px;
  height: 500px;
  width: 1903px;
  position: relative;
}

.div-middle {
  background-color: #FFFFFF;
  height: 1500px;
  position: relative;
}

.div-post {
  background-color: #b3b3b5;
  position: relative;
  height: 1500px;
  margin-left: 350px;
  margin-right: 350px;
}

.div-footer-container {
  background-color: #f2f3f3;
  height: 150px;
  position: relative;
}

.div-footer-container-text {
  position: absolute;
  left: 350px;
  top: 35px;
  font-family: 'Segoe UI', 'Helvetica Neue', "Lucida Grande", Arial, sans-serif;
}

.div-post-title {
  background-color: #FFFFFF;
  text-align: center;
}

.div-post-1 {
  background-color: blue;
  height: 300px;
  margin-top: 30px;
}

.div-post-2 {
  background-color: red;
  height: 300px;
  margin-top: 30px;
}

.div-post-3 {
  background-color: green;
  height: 300px;
  margin-top: 30px;
}

.div-post-4 {
  background-color: purple;
  height: 300px;
  margin-top: 30px;
}

.div-post-page {
  background-color: pink;
  height: auto;
}

.a-footer-sm {
  color: #6d7071;
  display: inline-block;
  padding-right: 50px;
  text-decoration: none;
}

.a-footer-sm:hover {
  color: #4d4f50;
  text-decoration: underline;
}

.p-footer-text {
  color: #6d7071;
  font-weight: 500;
}

.h1-mainIntro {
  color: #FFFFFF;
  padding-left: 350px;
  padding-top: 100px;
  size: 54px;
  line-height: 54px;
  font-size: 54px;
  font-family: 'Segoe UI', 'Helvetica Neue', "Lucida Grande", Arial, sans-serif;
}

.p-mainIntro {
  color: #FFFFFF;
  padding-left: 350px;
  size: 28px;
  line-height: 2;
  font-size: 28px;
  font-family: 'Segoe UI', 'Helvetica Neue', "Lucida Grande", Arial, sans-serif;
}
/***************************************** ID Selectors  *****************************************/